.hub-container {
  display: flex;
  position: relative;
}

.grid-container {
  flex-grow: 1;
  margin-inline: 240px;
}

.right-side-bar {
  position: fixed;
  height: 100vh;
  width: 240px;
  padding: 20px;
  border: solid rgba(128, 128, 128, 0.2);
  border-width: 2px;
}
.right-side-bar ul {
  list-style-type: none;
}

.right-side-bar ul a {
  width: 100%;
}


