*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.upcoming-events{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.event-card{
    flex-grow: 1;
    height: 320px;
    max-width: 420px;
    min-width: 300px;
    width: auto;
    border: solid black;
    border-radius: 12px;
}


.dashboard{

}

.recommended{

}

.my-clubs{

}