*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.menu-item{
   display:flex;
   width: 200px;
   margin: 10px 0 10px 0;
}

.menu-item a{
    color: black;
    text-decoration: none ;
}
/*cursor pointer with hover */
.menu-item:hover{
    cursor: pointer; 
    background-color: #e0e0e0;
}

.upcoming-events-container{
    display: flex;
    flex-direction: column;
}
.upcoming-events-wrapper {
    /* flex-grow not necessary again in wrapper since already in container */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center; /* centers rows if not filling full width */
    gap: 24px;
    margin-inline: 24px;
    }

.event-card{ 
    height: 420px;
    max-width: 800px;
    min-width: 240px;
    border: solid rgba(128, 128, 128, 0.2);
    border-width: 2px;
    border-radius: 12px;
}

.event-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 12px;
}

.event-card .date{
    display: flex;
    align-items: flex-end;
}


.event-card .time{
    display: flex;
    align-items: flex-end;
}

.dashboard{

}

.recommended{

}

.my-clubs{

}